{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}


<div class="row">
    <div id=create-box class="box">
        <div class="col-lg-12">
            <hr />
            <h1 class="intro-text text-center center-block">Δημιουργια νεας αναρτησης</h1>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-default intro-text text-center center-block" type="submit" value="Create" />
            </form>
            <hr>
        </div>
    </div>
</div>





{% endblock content %}
